*{
  margin: 0;
}
body{
  background-color: rgb(241, 229, 229);
}
.app_header{
  display:flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

}
.app_cards{
  display: flex;
  justify-content: space-between;
}
.app_left{
  flex: 0.9;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.app_right{
  display: flex;
  flex-direction: column;
}
.app_right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.graph{
  height: 323px;
  flex-grow: 1;
}